name: CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  lint:
    if: "!startsWith(github.event.head_commit.message, 'chore: release')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Build
        run: nr build
      - name: Lint
        run: |
          nr lint
          nr lint:type

  test:
    if: "!startsWith(github.event.head_commit.message, 'chore: release')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [lts/*]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Build
        run: nr build
      - name: Test
        run: nr test